* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

html,
body,
#root {
	height: 100%;
	margin: 0;
}

#root {
	display: flex;
	flex-direction: column;
}

main {
	flex: 1;
}

footer {
	flex-shrink: 0;
	background: #111111;
	color: #888888;
    font-size: 14px;
	padding: 15px;
}

body,
button,
input,
select,
textarea {
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.7;
	color: #777777;
}

ol,
dl,
p,
details,
address,
.vcard,
figure,
pre,
fieldset,
table,
dt,
dd,
hr {
	margin-bottom: 15px;
	margin-bottom: 0.9375rem;
	margin-top: 0;
	margin-right: 15px;
}

label {
	font-weight: 700;
}